<div class="login-box__create-forget__box">
  <a href="#" class="create-account-label">Create account?</a>
  <a routerLink="/forgot-password" class="forget-password-label">Forget password?</a>
</div>
<div class="login-box__agreement__box">
  <p class="agreement-notes-label">
    By signing in, you agree to our
    <span class="terms-of-service-a">
      <!-- <akn-erp-link
        class="terms-of-service-a"
        text="Terms of Service"
        routerLink="/atms-terms-of-service"
      ></akn-erp-link -->
    ></span>
    and
    <span class="privacy-policy-a">
      <!-- <akn-erp-link
        class="privacy-policy-a"
        text="Privacy Policy"
        routerLink="/atms-privacy-policy"
      ></akn-erp-link> -->
    </span>

    .
  </p>
</div>
