<!-- <form [formGroup]="form">
  <div class="akn-login-body">
    <div class="akn-login-input-box">
      <akn-erp-label for="username" text="Username" size="md" theme="dark"></akn-erp-label>
      <akn-erp-input-text
        type="text"
        theme="dark"
        size="md"
        placeholder="username"
        formControlName="username"
        [hideErrorMessage]="true"
      >
      </akn-erp-input-text>
    </div>
    <div class="akn-login-input-box">
      <akn-erp-label for="password" text="Password" size="md" theme="dark"></akn-erp-label>
      <akn-erp-input-text
        [type]="passwordHidden ? 'password' : 'text'"
        theme="dark"
        size="md"
        placeholder="password"
        formControlName="password"
        [hideErrorMessage]="true"
      >
        <akn-erp-icon-eye-password
          suffix
          theme="dark"
          fill="outline"
          size="sm"
          [slashed]="passwordHidden"
          (click)="togglePasswordVisibility()"
        ></akn-erp-icon-eye-password>
      </akn-erp-input-text>
    </div>
  </div>
  <div class="akn-login-button">
    <akn-erp-button class="button-login" variant="primary" size="lg" (click)="onSignIn()">
      <label class="button-label-signin"> Sign-in </label>
    </akn-erp-button>
  </div>
</form> -->
